*{
    padding: 0%;
    margin: 0%;
}
body h2{
    text-align: center;   
    background-color:orangered;
    height: 30px;
}
.own{
    position: relative;
    flex: 1;
    max-width: 100%;
}
.info1{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    height: auto;
    position: relative;
}
.info2{
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: relative;
}
.own img{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    /* display: flex;
    flex-direction: row; */
}
.text1{
    margin-top: 50px;
    margin-left: -50px;
    padding: 30px;
    /* display: flex;
    flex-direction: column; */
    border: dotted;
    width: 30%;
    height: 300px;
    background-color:orangered;
    overflow: auto ;
    
}
.text2{
    margin-top: 50px;
    margin-right: -50px;
    padding: 30px;
    /* display: flex;
    flex-direction: column; */
    border: dotted;
    width: 30%;
    height: 300px;
    background-color: orange;
    overflow: auto;
}
.icon{
    background-color: rgba(255, 68, 0, 0.842);
    font-size: 23px;
}