
/* element.style {
}
.u-section-1 .u-container-layout-6 {
   /* padding: 60px 40px 40px; 
} */

.u-valign-top {
    justify-content: flex-start;
}
.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.u-align-left {
    text-align: left;
}
.u-tabs:not([class*="u-align-"]), .u-accordion:not([class*="u-align-"]), .u-repeater-item:not([class*="u-align-"]), .u-container-style:not([class*="u-align-"]) {
    text-align: left;
}
.u-palette-1-base, .u-body.u-palette-1-base, section.u-palette-1-base:before, .u-palette-1-base > .u-container-layout:before, .u-palette-1-base > .u-inner-container-layout:before, .u-palette-1-base.u-sidenav:before, .u-container-layout.u-container-layout.u-palette-1-base:before, .u-table-alt-palette-1-base tr:nth-child(even) {
    color: white;
    background-color:orangered;
}
.u-sheet:not(.u-image):not(.u-video) > * {
    pointer-events: auto;
    pointer-events: initial;
}
.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}
.u-grey-10, .u-body.u-grey-10, section.u-grey-10:before, .u-grey-10 > .u-container-layout:before, .u-grey-10 > .u-inner-container-layout:before, .u-grey-10.u-sidenav:before, .u-container-layout.u-container-layout.u-grey-10:before, .u-table-alt-grey-10 tr:nth-child(even) {
    color: #111111;
    background-color: orange;
}
.u-body {
    --theme-sheet-width-xl: 1140px;
    --theme-sheet-width-lg: 940px;
    --theme-sheet-width-md: 720px;
    --theme-sheet-width-sm: 540px;
    --theme-sheet-width-xs: 340px;
}
.u-body {
    color: #111111;
    background-color: #ffffff;
    --effect-scale: 1.1;
}
.u-body {
    font-family: 'Open Sans',sans-serif;
}
.u-body {
    --animation-fade_in-opacity: 0;
    --animation-fade_in_up-opacity: 0;
    --animation-fade_in_left-opacity: 0;
    --animation-fade_in_right-opacity: 0;
    --animation-fade_in_down-opacity: 0;
    --animation-fade_in_up_big-opacity: 0;
    --animation-fade_in_left_big-opacity: 0;
    --animation-fade_in_right_big-opacity: 0;
    --animation-fade_in_down_big-opacity: 0;
    --animation-fade_out-opacity: 0;
    --animation-fade_out_up-opacity: 0;
    --animation-fade_out_left-opacity: 0;
    --animation-fade_out_right-opacity: 0;
    --animation-fade_out_down-opacity: 0;
    --animation-fade_out_up_big-opacity: 0;
    --animation-fade_out_left_big-opacity: 0;
    --animation-fade_out_right_big-opacity: 0;
    --animation-fade_out_down_big-opacity: 0;
    --animation-rotate_in-rotate: -200deg;
    --animation-rotate_in_down_left-rotate: -45deg;
    --animation-rotate_in_down_right-rotate: 45deg;
    --animation-rotate_in_up_left-rotate: 45deg;
    --animation-rotate_in_up_right-rotate: -90deg;
    --animation-rotate_out-rotate: 200deg;
    --animation-rotate_out_down_left-rotate: 45deg;
    --animation-rotate_out_down_right-rotate: -45deg;
    --animation-rotate_out_up_left-rotate: -45deg;
    --animation-rotate_out_up_right-rotate: 90deg;
    --animation-roll_in-rotate: -120deg;
    --animation-roll_in-translate_x: -100%;
    --animation-roll_out-rotate: 120deg;
    --animation-roll_out-translate_x: 100%;
    --animation-zoom_in-scale: 0.3;
    --animation-zoom_in_down-scale: 0.475;
    --animation-zoom_in_down-translate_y: 60px;
    --animation-zoom_in_up-scale: 0.475;
    --animation-zoom_in_up-translate_y: -60px;
    --animation-zoom_in_left-scale: 0.475;
    --animation-zoom_in_left-translate_x: 10px;
    --animation-zoom_in_right-scale: 0.475;
    --animation-zoom_in_right-translate_x: -10px;
    --animation-zoom_out-scale: 0.3;
    --animation-zoom_out_down-scale: 0.475;
    --animation-zoom_out_down-translate_y: -60px;
    --animation-zoom_out_up-scale: 0.475;
    --animation-zoom_out_up-translate_y: 60px;
    --animation-zoom_out_left-scale: 0.475;
    --animation-zoom_out_left-translate_x: 42px;
    --animation-zoom_out_right-scale: 0.475;
    --animation-zoom_out_right-translate_x: -42px;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
style attribute {
    font-size: 16px;
}
html {
    font-size: 16px;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
img{
    width: 1200px;
    height: 700px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
}
